body {
    font-family: Arial, sans-serif;
    background-color: #fffafc;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8c4cc;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #f8c4cc;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}